/*

Outline

1. Basic Setup
2. Page Utilities
3. Images
4. Tabs
5. Buttons
6. Pages
  6.1 Homepage
  6.2 Demo
7. Forms
8. Media Size Adjustments


Colors=====
Red - #F44336/#E53935
Purple - #AB47BC/#9C27B0
Blue - #26C6DA/#00BCD4
Green - 8BC34A/#7BB343
Yellow - #FFD700/#FFC107

*/


/* 1 Basic Setup */
html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Source Sans Pro', 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  font-family: Open Sans, Segoe UI, sans-serif;
}
hr {
  border-color: #F1F7FB;
}
hr.light {
  border-color: white;
}
a {
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  color: #26C6DA;
}
a:hover,
a:focus {
  color: #00BCD4;
}
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {  
  font-family: 'Comfortaa', 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  font-weight: bold;
  color: #072A44;
}

/* all font sizes follow a minor second scale -https://www.modularscale.com/?16&px&1.125 */
h1, .h1{font-size: 36.49px;}
h2, .h2{font-size: 32.44px;}
h3, .h3{font-size: 25.63px;}
h4, .h4{font-size: 22.78px;}
p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
  font-family: 'Source Sans Pro', 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

p.lighter{
  color: #6B7C93;
}

p.heading1{
  font-size: 18px;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

p.heading1-regular{
  font-size: 18px;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 700;
}

@media (max-width: 768px) {
	p.lead{
	  font-size: 18px;
	}
}

p.lead{
  font-size: 28.83px;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 300;
}

p.small{
  font-size: 12.64px;
}

p.gray{
  color: #9B9B9B;
}

ul,ol{
  font-size: 16px;
  line-height: 1.5;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
}

ul li, ol li{
  margin-bottom: 10px;
}

footer{
  text-align: center;
}

/* 3. Images */

/* 4. Tabs */

.bn-tabs{
  background: #F8F9FA;
  border-radius: 4px;
  overflow: hidden;
  display: inline-flex;
}
.bn-tabs li{
  margin: 0px;
}
.bn-tabs li a{
  padding: 7px 30px;
  border-bottom: 3px solid transparent;
  color: #80868C;
}
.bn-tabs li a:hover{
  color: #26C6DA;
  background: #F1F3F4
}
.bn-tabs li a.active{
  border-bottom: 3px solid #26C6DA;
  color: #26C6DA;
  font-weight: bold;
}

/* 5. Buttons */

.btn{
  font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
  margin-bottom: 10px;
}

.btn-margin{
  margin-right: 15px;
}

.btn-shadow{
  box-shadow: 0 2px 4px 0 rgba(100,100,100,.50);
}

.btn-primary{
  background: #26C6DA;
  border: #26C6DA;
  color: #fff;
}

.btn-primary:hover, .btn-primary:active,.btn-primary:focus{
  background: #00BCD4;
  border: #00BCD4;
  color: #fff;
}

.btn-secondary{
  background: #fff;
  border: #fff;
  color: #8BC34A;
}

.btn-secondary:hover, .btn-secondary:active,.btn-secondary:focus{
  background: #8BC34A;
  border: #8BC34A;
  color: #fff;
}

.btn-success{
  background: #8BC34A;
  border: #8BC34A;
  color: #FFF;
}

.btn-success:hover, .btn-success:active,.btn-success:focus{
  background: #7BB343;
  border: #7BB343;
  color: #fff;
}
.btn-success.disabled{
  background: #ABC988;
  border: #ABC988;
}


.btn-default{
  background: #E8EAED;
  border: #E8EAED;
  color: #5F6368;
}

.btn-default:hover, .btn-default:active,.btn-default:focus{
  background: #5F6368;
  border: #5F6368;
  color: #fff;
}


/* Sections */

.default-section-spacing{
  padding: 75px 0px;
}

.white-block-padded{
  background: #fff;
  padding: 50px 15px;
  box-shadow: 0 2px 50px rgba(0,0,0,.2);
}
.white-block-cta-footer{
  background: #F8FDEE;
  border-top: 1px solid #8BC34A;
  padding: 30px 15px;
}
.white-block-cta-footer p:last-of-type{
  margin-bottom: 0px;
}

/* 6. Pages */
/* 6.1 Homepage */

body{ /* need to fix so not on every body page */
  background: #fff url('../img/home-problem-bg.jpg') no-repeat -342px -100px;
}

#the-problem{
  padding-top: 70px;
}

.problem-spacing{
    padding-left: 0px;
  }


.top-news{
  display: inline-block;
  background: rgba(0,0,0,.3);
  border-radius: 100px;
  padding: 10px 16px;
  color: #fff;
  font-size: 14px;
}

.top-news span{
  background: #FFD700;
  color: #072A44;
  border-radius: 100px;
  padding: 2px 8px;
  margin-right: 5px;
  text-transform: uppercase;
}

#introduction img.info-icon{
  float: left;
  margin-right: 10px;
}

#introduction h3 {
    margin-left: 80px;
}


.content-bars{
  padding: 25px 0px;
  border-top: 1px solid #F1F7FB;
  border-bottom: 1px solid #F1F7FB;
  margin-bottom: 25px;
}

section#developer-benefits{
  background: #CBE49B url('../img/developer-bg-768.jpg') repeat center top;
  text-align: center;
  clear: both;
  position: relative;
  padding-top: 130px;
}

section#developer-benefits *{
  z-index: 100;
}


section#developer-benefits::before{
  width: 50%;
  height: 125px;
  background: linear-gradient(to right bottom, white 50%, transparent 50%);
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
}

section#developer-benefits::after{
  width: 50%;
  height: 125px;
  background: linear-gradient(to left bottom, white 50%, transparent 50%);
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 1;
}

section#developer-benefits ul{
  text-align: left;
}

/* Team */

#team{
  background: #F5FAE9 url('../img/team-bg.jpg') repeat center top;
  position: relative;
}

.team-bio-block{
  background: #fff;
  border-radius: 3px;
  padding: 25px 20px;
  overflow: hidden;
  margin-bottom: 15px;
  box-shadow: 0 2px 4px 0 rgba(164,164,164,0.2);
}

.team-bio-block img{
  float: left;
}

.team-bio-block p:last-of-type{
  margin-bottom: 0px;
}

.team-bio-info{
  margin-left: 125px;
}

.team-bio-block .title{
  font-family: 'Comfortaa', 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
}

section#team *{
  z-index: 100;
}


section#team::before{
  width: 50%;
  height: 125px;
  background: linear-gradient(to right top, white 50%, transparent 50%);
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 1;
}

section#team::after{
  width: 50%;
  height: 125px;
  background: linear-gradient(to left top, white 50%, transparent 50%);
  content: "";
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: 1;
}


/* Signup Form */
.signup-form{
  position: relative;
  display: inline-block;
  width: 100%;
}

.signup-form input{
  background: #fff;
  border: 1px solid #979797;
  border-radius: 8px;
  padding: 15px 20px;
  box-shadow: 0 2px 14px 0 rgba(0,0,0,.10);
  width: 100%;
}

.form-signup-button{
  position: absolute;
  top: 10px;
  right: 0px;
}

/* 6.2 Demo */
.fas.fa-check{
  color: #8BC34A;
  font-size: 25.63px;
  width: 25px;
  text-align: center;
  vertical-align: top;
}
.fas.fa-times{
  color: #F44336;
  font-size: 28.83px;
  width: 25px;
  text-align: center;
  vertical-align: top;
}

.demo-list p{
  float: left;
  margin-bottom: 10px;
  margin-top: 4px;
}

.demo-list .fas{
  display: inline-block;
}
.demo-list .fas.fa-check{
  float: left;
  margin-right: 10px;
}
.demo-list .fas.fa-times{
  float: left;
  margin-right: 10px;
}


/* 7. Forms */

::-moz-placeholder, ::-webkit-input-placeholder, :-ms-input-placeholder, ::placeholder {
    color: #9B9B9B;
    font-family: 'Source Sans Pro', 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}


/* 8. Media Size Adjustments */

@media (min-width: 576px) {
 body{
    background-position: -342px -300px;
  }
}


@media (max-width: 992px) {
  .btn-mobile-float-left{
    float: left !important;
  }
  .demo-list p{
    float: none;
  }
}

@media (min-width: 768px) {
  body{
    background-position: -700px -300px;
  }
  .top-news{
    padding: 4px 8px 4px 5px;
  }
  .signup-form{
    width: 80%;
  }
  #introduction img.info-icon{
    float: left;
    margin-left: -32.5px;
  }
  #introduction h3{
    margin-left: 50px;
  }

  section#team::before, section#developer-benefits::before{
    height: 195px;
  }

  section#team::after, section#developer-benefits::after{
    height: 195px;
  }
  .white-block-padded{
    padding: 50px;
  }
  .white-block-cta-footer{
    padding: 30px 50px;
  }
}

@media (min-width: 992px) {
  body{
    background-position: -508px -370px;
  }
  .team-bio-block{
    margin-bottom: 40px;
  }
  section#developer-benefits{
    background: #CBE49B url('../img/developer-bg-1440.jpg') no-repeat center top;
  }
}

@media (min-width: 1200px) {
  body{
    background-position: -342px -370px;
  }
  .problem-spacing{
    padding-left: 68px;
  }
  #introduction{
    margin-top: 20px;
  }
  .signup-form{
    width: 60%;
  }
  section#team::before, section#developer-benefits::before{
    height: 355px;
  }

  section#team::after, section#developer-benefits::after{
    height: 355px;
  }
}