/*

Outline

1. Basic Setup
2. Page Utilities
3. Images

Colors
Blue - #0E5AFF
Yellow - #FEE935

*/



html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Source Sans Pro', 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  font-family: Open Sans, Segoe UI, sans-serif;
}
hr {
  border-color: #F05F40;
  border-width: 3px;
  max-width: 50px;
}
hr.light {
  border-color: white;
}
a {
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  color: #26C6DA;
}
a:hover,
a:focus {
  color: #00BCD4;
}
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {  
  font-family: 'Comfortaa', 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  font-weight: bold;
  color: #072A44;
}

h1, .h1{font-size: 36.49;}
h2, .h2{font-size: 32.44;}
h3, .h3{font-size: 25.63;}
h4, .h4{font-size: 22.78;}
p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
  font-family: 'Source Sans Pro', 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

p.lighter{
  color: #6B7C93;
}

p.heading1{
  font-size: 18px;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

@media (max-width: 768px) {
	p.lead{
	  font-size: 18px;
	}
}

p.lead{
  font-size: 28.83px;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 300;
}

p.small{
  font-size: 12.64px;
}

p.gray{
  color: #9B9B9B;
}

ul,ol{
  font-size: 16px;
  line-height: 1.5;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
}

ul li, ol li{
  margin-bottom: 10px;
}

.btn{
  font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
  margin-bottom: 10px;
}

/* Buttons */

.btn-primary{
  background: #26C6DA;
  border: #26C6DA;
  color: #fff;
  box-shadow: 0 2px 4px 0 rgba(100,100,100,.50);
  margin-right: 15px;
}

.btn-primary:hover, .btn-secondary:active{
  background: #00BCD4;
  border: #00BCD4;
  color: #fff;
}

.btn-secondary{
  background: #fff;
  border: #fff;
  color: #8BC34A;
  box-shadow: 0 2px 4px 0 rgba(100,100,100,.50);
  margin-right: 15px;
}

.btn-secondary:hover, .btn-secondary:active{
  background: #8BC34A;
  border: #8BC34A;
  color: #fff;
}


/* Sections */

.default-section-spacing{
  padding: 75px 0px;
}

body{
  background: #fff url('../img/home-problem-bg.jpg') no-repeat -342px -100px;
}

/*img#opening-block{
  position: absolute;
  top: 620px;
  left: 25px;
}*/

#the-problem{
  padding-top: 70px;
}

.problem-spacing{
    padding-left: 0px;
  }


.top-news{
  display: inline-block;
  background: rgba(0,0,0,.3);
  border-radius: 100px;
  padding: 10px 16px;
  color: #fff;
  font-size: 14px;
}

.top-news span{
  background: #FFD700;
  color: #072A44;
  border-radius: 100px;
  padding: 2px 8px;
  margin-right: 5px;
  text-transform: uppercase;
}

#introduction img.info-icon{
  float: left;
  margin-right: 10px;
}

#introduction h3 {
    margin-left: 80px;
}


.content-bars{
  padding: 25px 0px;
  border-top: 1px solid #F1F7FB;
  border-bottom: 1px solid #F1F7FB;
  margin-bottom: 25px;
}

section#developer-benefits{
  background: #FFEB3B url('../img/developer-bg-768.jpg') repeat center top;
  text-align: center;
  clear: both;
  position: relative;
  padding-top: 130px;
}

section#developer-benefits *{
  z-index: 100;
}


section#developer-benefits::before{
  width: 50%;
  height: 125px;
  background: linear-gradient(to right bottom, white 50%, transparent 50%);
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
}

section#developer-benefits::after{
  width: 50%;
  height: 125px;
  background: linear-gradient(to left bottom, white 50%, transparent 50%);
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 1;
}

section#developer-benefits ul{
  text-align: left;
}



#team{
  background: #FFFAE5 url('../img/team-bg.jpg') repeat center top;
  position: relative;
}

.team-bio-block{
  background: #fff;
  border-radius: 3px;
  padding: 25px 20px;
  overflow: hidden;
  margin-bottom: 15px;
  box-shadow: 0 2px 4px 0 rgba(164,164,164,0.2);
}

.team-bio-block img{
  float: left;
}

.team-bio-block p:last-of-type{
  margin-bottom: 0px;
}

.team-bio-info{
  margin-left: 125px;
}

.team-bio-block .title{
  font-family: 'Comfortaa', 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
}

section#team *{
  z-index: 100;
}


section#team::before{
  width: 50%;
  height: 125px;
  background: linear-gradient(to right top, white 50%, transparent 50%);
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 1;
}

section#team::after{
  width: 50%;
  height: 125px;
  background: linear-gradient(to left top, white 50%, transparent 50%);
  content: "";
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: 1;
}

footer{
  text-align: center;
}

.signup-form{
  position: relative;
  display: inline-block;
  width: 100%;
}

.signup-form input{
  background: #fff;
  border: 1px solid #979797;
  border-radius: 8px;
  padding: 15px 20px;
  box-shadow: 0 2px 14px 0 rgba(0,0,0,.10);
  width: 100%;
}

.form-signup-button{
  position: absolute;
  top: 10px;
  right: 0px;
}

/* Media Size Adjustments */

@media (min-width: 576px) {
 body{
    background-position: -342px -300px;
  }
/*  img#opening-block{
    top: 620px;
    left: 25px;
  }*/
}

@media (min-width: 768px) {
  body{
    background-position: -700px -300px;
  }
  .top-news{
    padding: 4px 8px 4px 5px;
  }
  .signup-form{
    width: 80%;
  }
/*  img#opening-block{
    top: 406px;
    left: 485px;
  }*/
  #introduction img.info-icon{
    float: left;
    margin-left: -32.5px;
  }
  #introduction h3{
    margin-left: 50px;
  }

  section#team::before, section#developer-benefits::before{
    height: 195px;
  }

  section#team::after, section#developer-benefits::after{
    height: 195px;
  }
}

@media (min-width: 992px) {
  body{
    background-position: -508px -370px;
  }
/*  img#opening-block{
    top: 118px;
    left: 600px;
  }*/
  .team-bio-block{
    margin-bottom: 40px;
  }
  section#developer-benefits{
    background: #FFEB3B url('../img/developer-bg-1440.jpg') no-repeat center top;
  }
}

@media (min-width: 1200px) {
  body{
    background-position: -342px -370px;
  }
  .problem-spacing{
    padding-left: 68px;
  }
/*  img#opening-block{
    top: 118px;
    left: 915px;
  }*/
  #introduction{
    margin-top: 20px;
  }
  .signup-form{
    width: 60%;
  }
  section#team::before, section#developer-benefits::before{
    height: 355px;
  }

  section#team::after, section#developer-benefits::after{
    height: 355px;
  }

}

/* Forms */

::-moz-placeholder, ::-webkit-input-placeholder, :-ms-input-placeholder, ::placeholder {
    color: #9B9B9B;
    font-family: 'Source Sans Pro', 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}